- var title = 'test';
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        canvas#bg
        .container
            .headerList.column
                h2.headerItem.item0 first
                h2.headerItem.item1 second
                h2.headerItem.item2 third
                h2.headerItem.item3 fourth
                h2.headerItem.item4 fifth
                h2.headerItem.item5 sixth
                h2.headerItem.item6 seventh
            .flexcontainer
                .content#content.flexitem
                .menuList.flexitem
                    a.menuItem.item0(href="#") first
                    a.menuItem.item1(href="#") second
                    a.menuItem.item2(href="#") third
                    a.menuItem.item3(href="#") fourth
                    a.menuItem.item4(href="#") fifth
                    a.menuItem.item5(href="#") sixth
                    a.menuItem.item6(href="#") seventh